notes_Python_ODC.txt
notes_CLI.txt
.vscode
utils
target
linkd_i_used.txt
P_analyzations_HC/Geographic_data_maps/islands.geojson
P_analyzations_HC/Geographic_data_maps/municipalities.geojson
P_analyzations_HC/Geographic_data_maps/national_parks.geojson
P_analyzations_HC/Geographic_data_maps/rivers.geojson